server:
  port: 8081

  spring:
    datasource:
      url: jdbc:h2:mem:testdb
      driver-class-name: org-h2-Driver
      username: sa
      password:

logging:
  level:
    root: INFO
    org.wscict.bank: DEBUG

  file:
    name: logs/bank-api.log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7