server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: bankuser
    password: bankpass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true


logging:
  level:
    root: INFO
    org.wscict.bank: DEBUG

  file:
    name: logs/bank-api.log

  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 7