name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: bankdb
          POSTGRES_USER: bankuser
          POSTGRES_PASSWORD: bankpass
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U bankuser -d bankdb"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build & Test
        env:
          SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/bankdb
          SPRING_DATASOURCE_USERNAME: bankuser
          SPRING_DATASOURCE_PASSWORD: bankpass
        run: mvn clean test
